@model DateTime
@{
    ViewBag.Title = "TestCache";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TestCache</h2>

<div>
    <span>Cached date time</span>
</div>
<div>
    <span>@Model</span>
</div>
